<div class="row">
  <div class="six columns">
    <button id="test-button" class="btn-actions" data-init="false">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-more"></use>
      </svg>
      <span class="audible">More Actions</span>
    </button>
    <ul class="popupmenu"></ul>
  </div>
</div>

<div class="row top-padding">
  <div class="six columns">
    <button id="reload" class="btn-secondary">
      <span>Reload Menu Items</span>
    </button>
  </div>
</div>

<div class="row top-padding">
  <div class="six columns">
    <fieldset class="radio-group">
      <input id="dont-remove" name="removal" type="radio" class="radio" value="0" checked/>
      <label class="radio-label" for="dont-remove">Don't remove any markup</label>
      <br />
      <input id="remove-ul" name="removal" type="radio" class="radio" value="1"/>
      <label class="radio-label" for="remove-ul">Remove the &lt;ul&gt;</label>
      <br />
      <input id="remove-div" name="removal" type="radio" class="radio" value="2"/>
      <label class="radio-label" for="remove-div">Remove the &lt;div&gt;</label>
    </fieldset>
  </div>
</div>

<script id="test-script">
  var addStuff = false;
  var moreActionsBtn = $('#test-button');
  var removalRadios = $('[name="removal"]');
  var removalSelectors = [
    '',
    '#popupmenu-1 > li:nth-child(2) > div',
    '#popupmenu-1 > li:nth-child(2) > div > ul'
  ];

  var RESPONSE_HTML = '' +
    '<li class="is-disabled">' +
      '<a href="#">' +
        '<svg class="icon" focusable="false" aria-hidden="true" role="presenation"><use xlink:href="#icon-folder"></use></svg>' +
        'Open' +
      '</a>' +
    '</li>' +
    '<li class="submenu">' +
      '<a href="#">Options</a>' +
      '<ul class="popupmenu"></ul>' +
    '</li>' +
    '<li class="submenu is-disabled">' +
      '<a href="#">Drill Around®</a>' +
      '<ul class="popupmenu"></ul>' +
    '</li>' +
  '';

  var RESPONSE_SUBMENU_HTML = '' +
    '<li><a href="#">Item One</a></li>' +
    '<li><a href="#">Item Two</a></li>' +
    '<li><a href="#">Item Three</a></li>';

  function moreActionsBeforeOpen(response, options) {
    if (options.contextElement) {
      response(RESPONSE_SUBMENU_HTML);
      return;
    }

    var responseHTML = RESPONSE_HTML;
    if (addStuff) {
      responseHTML += '<li><a href="#">Added Thing</a></li>';
    }
    response(responseHTML);
  }

  moreActionsBtn.popupmenu({
    beforeOpen: moreActionsBeforeOpen
  });

  $('body').on('initialized', function () {

    removalRadios.on('click.test', function () {
      removalRadios.prop('checked', false);
      $(this).prop('checked', true);
    });

    // Simulate Angular's V-DOM removing some elements
    $('#reload').on('click.test', function () {
      addStuff = true;

      // If we want to remove markup, choose the selector here
      var removalRadiosValue = Number(removalRadios.filter(':checked').val());
      if (removalRadiosValue > 0) {
        $(removalSelectors[removalRadiosValue]).remove();
      }

      moreActionsBtn.data('popupmenu').updated();
    });
  });
</script>
